- content_for :title, "Editing invoice"

.page-header
  %h1.page-title Edit invoice

.form-card
  = render "form", invoice: @invoice

.actions
  = link_to "View invoice", @invoice, class: "btn btn-secondary"
  = link_to "Back to invoices", invoices_path, class: "btn btn-secondary"
