- content_for :title, "Editing customer"

.page-header
  %h1.page-title Edit customer

.form-card
  = render "form", customer: @customer

.actions
  = link_to "View customer", @customer, class: "btn btn-secondary"
  = link_to "Back to customers", customers_path, class: "btn btn-secondary"
